<!DOCTYPE html>
<html class="no-js" lang="en">
  <!-- Mirrored from template.hasthemes.com/toro/toro/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:20:00 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Toro - Minimal eCommerce HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favicon.png"
    />

    <!-- All CSS is here
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" />
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css" />
    <link rel="stylesheet" href="assets/css/vendor/dlicon.css" />
    <!-- Others CSS -->
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel.css" />
    <link rel="stylesheet" href="assets/css/plugins/slick.css" />
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/plugins/jarallax.css" />
    <link rel="stylesheet" href="assets/css/plugins/easyzoom.css" />
    <link rel="stylesheet" href="assets/css/plugins/animate.css" />
    <link rel="stylesheet" href="assets/css/plugins/fullpage.css" />
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css" />
    <link rel="stylesheet" href="assets/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>

  <body>
    <div class="main-wrapper">
      <header class="header-area section-padding-1">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-xl-2 col-lg-2">
              <div class="logo logo-width">
                <a href="index.html">
                  <img src="assets/images/logo/logo.png" alt="logo" />
                </a>
              </div>
            </div>
            <div
              class="col-xl-8 col-lg-8 d-flex justify-content-center position-static"
            >
              <div class="main-menu menu-lh-1 main-menu-padding-1">
                <nav>
                  <ul>
                    <li class="position-static">
                      <a class="active" href="home"
                        >Home <i class="fa fa-angle-down"></i
                      ></a>
                    
                   
                      <ul
                        class="mega-menu-style-2 mega-menu-width2 menu-negative-mrg1"
                      >
                        <li class="mega-menu-sub-width20">
                          <a class="menu-title" href="#">Shop Layout</a>
                          <ul>
                            <li>
                              <a href="shop-fullwide.html">Shop Fullwidth</a>
                            </li>
                            <li>
                              <a href="shop-sidebar.html">Shop Sidebar</a>
                            </li>
                            <li>
                              <a href="shop-metro.html">Shop Metro Layout</a>
                            </li>
                            <li>
                              <a href="shop-3-col.html">Shop 03 Columns</a>
                            </li>
                            <li>
                              <a href="shop-2-col.html">Shop 02 Columns</a>
                            </li>
                            <li>
                              <a href="shop-collection-1.html"
                                >Shop Collection 01</a
                              >
                            </li>
                            <li>
                              <a href="shop-collection-2.html"
                                >Shop Collection 02</a
                              >
                            </li>
                          </ul>
                        </li>
                        <li class="mega-menu-sub-width22">
                          <a class="menu-title" href="#">Product Layout</a>
                          <ul>
                            <li>
                              <a href="product-details.html">Single 01</a>
                            </li>
                            <li>
                              <a href="product-details-2.html">Single 02</a>
                            </li>
                            <li>
                              <a href="product-details-group.html">Grouped</a>
                            </li>
                            <li>
                              <a href="product-details-sticky.html"
                                >Sticky Info</a
                              >
                            </li>
                            <li>
                              <a href="product-details-configurable.html"
                                >Configurable</a
                              >
                            </li>
                            <li>
                              <a href="product-details-thumbnail.html"
                                >Thumbnail</a
                              >
                            </li>
                            <li>
                              <a href="product-details-video.html">Video</a>
                            </li>
                            <li>
                              <a href="product-details-affiliate.html"
                                >Affiliate</a
                              >
                            </li>
                            <li>
                              <a href="product-details-sidebar.html">Sidebar</a>
                            </li>
                          </ul>
                        </li>
                        <li class="mega-menu-sub-width20">
                          <a class="menu-title" href="#">Shop Pages</a>
                          <ul>
                            <li><a href="my-account.html">My Account</a></li>
                            <li><a href="checkout.html">Check Out</a></li>
                            <li><a href="cart.html">Shopping Cart</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li>
                              <a href="order-tracking.html">Order Tracking</a>
                            </li>
                            <li><a href="compare.html">Compare</a></li>
                            <li>
                              <a href="login-register.html">login / register</a>
                            </li>
                          </ul>
                        </li>
                        <li class="mega-menu-sub-width37">
                          <div class="banner-menu-content-wrap default-overlay">
                            <a href="product-details.html"
                              ><img
                                src="assets/images/menu/banner-header.jpg"
                                alt="banner"
                            /></a>
                            <div class="banner-menu-content">
                              <h2>Bikini <br />Collections</h2>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="shop-collection-1.html"
                        >Collections <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="sub-menu-width">
                        <li>
                          <a href="shop-collection-1.html"
                            >Shop Collection 01</a
                          >
                        </li>
                        <li>
                          <a href="shop-collection-2.html"
                            >Shop Collection 02</a
                          >
                        </li>
                        <li><a href="shop-metro.html">Shop Metro Layout</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="blog.html"
                        >Blog <i class="fa fa-angle-down"></i
                      ></a>
                      <ul class="sub-menu-width">
                        <li><a href="blog.html">Blog Style 01</a></li>
                        <li><a href="blog-2.html">Blog Style 02</a></li>
                        <li><a href="blog-3.html">Blog Style 03</a></li>
                        <li>
                          <a href="#"
                            >Single Posts <i class="fa fa-angle-right"></i
                          ></a>
                          <ul class="lavel-menu">
                            <li>
                              <a href="blog-details.html"
                                >Single Post Style 01</a
                              >
                            </li>
                            <li>
                              <a href="blog-details-2.html"
                                >Single Post Style 02</a
                              >
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="shop-instagram.html">Instagram Shop </a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2">
              <div class="header-right-wrap header-right-flex">
                <div class="same-style header-wishlist">
                  <a href="wishlist.html"><i class="fa fa-heart-o"></i></a>
                </div>
                <div class="same-style cart-wrap">
                  <a href="#" class="cart-active">
                    <i class="dlicon shopping_bag-20"></i>
                    <span class="count-style">02</span>
                  </a>
                </div>
                <div class="same-style header-search">
                  <a class="search-active" href="#">
                    <i class="dlicon ui-1_zoom"></i>
                  </a>
                </div>
                <div class="same-style header-off-canvas">
                  <a class="header-aside-button" href="#">
                    <i class="dlicon ui-3_menu-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="header-small-mobile section-padding-1">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-6">
              <div class="mobile-logo logo-width">
                <a href="index.html">
                  <img alt="" src="assets/images/logo/logo.png" />
                </a>
              </div>
            </div>
            <div class="col-6">
              <div class="mobile-header-right-wrap">
                <div class="header-right-wrap header-right-flex">
                  <div class="same-style cart-wrap">
                    <a href="#" class="cart-active">
                      <i class="dlicon shopping_bag-20"></i>
                      <span class="count-style">02</span>
                    </a>
                  </div>
                  <div class="same-style header-off-canvas">
                    <a class="header-aside-button" href="#">
                      <i class="dlicon ui-3_menu-left"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- search start -->
      <div class="search-content-wrap main-search-active">
        <a class="search-close"><i class="dlicon ui-1_simple-remove"></i></a>
        <div class="search-content">
          <p>Start typing and press Enter to search</p>
          <form class="search-form" action="#">
            <input type="text" placeholder="Search" />
            <button class="button-search">
              <i class="dlicon ui-1_zoom"></i>
            </button>
          </form>
        </div>
      </div>
      <!-- mini cart start -->
      <div class="sidebar-cart-active">
        <div class="sidebar-cart-all">
          <a class="cart-close" href="#"
            ><i class="dlicon ui-1_simple-remove"></i
          ></a>
          <div class="cart-content">
            <h3>Shopping Cart</h3>
            <ul>
              <li class="single-product-cart">
                <div class="cart-img">
                  <a href="#"
                    ><img src="assets/images/cart/cart-1.jpg" alt=""
                  /></a>
                </div>
                <div class="cart-title">
                  <h4><a href="#">Bejewelled velvet sandals</a></h4>
                  <span> 1 × $49.00 </span>
                </div>
                <div class="cart-delete">
                  <a href="#">×</a>
                </div>
              </li>
              <li class="single-product-cart">
                <div class="cart-img">
                  <a href="#"
                    ><img src="assets/images/cart/cart-2.jpg" alt=""
                  /></a>
                </div>
                <div class="cart-title">
                  <h4><a href="#">Contrast faux fur jacket</a></h4>
                  <span> 1 × $49.00 </span>
                </div>
                <div class="cart-delete">
                  <a href="#">×</a>
                </div>
              </li>
            </ul>
            <div class="cart-total">
              <h4>Subtotal: <span>$170.00</span></h4>
            </div>
            <div class="cart-checkout-btn">
              <a class="btn-hover cart-btn-style" href="cart.html">view cart</a>
              <a class="no-mrg btn-hover cart-btn-style" href="checkout.html"
                >checkout</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- aside start -->
      <div class="header-aside-active">
        <div class="header-aside-wrap">
          <a class="aside-close"><i class="dlicon ui-1_simple-remove"></i></a>
          <div class="header-aside-content">
            <div class="mobile-menu-area">
              <div class="mobile-search">
                <form class="search-form" action="#">
                  <input type="text" placeholder="Search entire store…" />
                  <button class="button-search">
                    <i class="dlicon ui-1_zoom"></i>
                  </button>
                </form>
              </div>
              <div class="mobile-menu-wrap">
                <!-- mobile menu start -->
                <div class="mobile-navigation">
                  <!-- mobile menu navigation start -->
                  <nav>
                    <ul class="mobile-menu">
                      <li class="menu-item-has-children">
                        <a href="index.html">Home</a>
                       
                      <li class="menu-item-has-children">
                        <a href="shop-fullwide.html">shop</a>
                        <ul class="dropdown">
                          <li class="menu-item-has-children">
                            <a href="#">Shop Layout</a>
                            <ul class="dropdown">
                              <li>
                                <a href="shop-fullwide.html">Shop Fullwidth</a>
                              </li>
                              <li>
                                <a href="shop-sidebar.html">Shop Sidebar</a>
                              </li>
                              <li>
                                <a href="shop-metro.html">Shop Metro Layout</a>
                              </li>
                              <li>
                                <a href="shop-3-col.html">Shop 03 Columns</a>
                              </li>
                              <li>
                                <a href="shop-2-col.html">Shop 02 Columns</a>
                              </li>
                              <li>
                                <a href="shop-collection-1.html"
                                  >Shop Collection 01</a
                                >
                              </li>
                              <li>
                                <a href="shop-collection-2.html"
                                  >Shop Collection 02</a
                                >
                              </li>
                            </ul>
                          </li>
                          <li class="menu-item-has-children">
                            <a href="#">Product Layout</a>
                            <ul class="dropdown">
                              <li>
                                <a href="product-details.html">Single 01</a>
                              </li>
                              <li>
                                <a href="product-details-2.html">Single 02</a>
                              </li>
                              <li>
                                <a href="product-details-group.html">Grouped</a>
                              </li>
                              <li>
                                <a href="product-details-sticky.html"
                                  >Sticky Info</a
                                >
                              </li>
                              <li>
                                <a href="product-details-configurable.html"
                                  >Configurable</a
                                >
                              </li>
                              <li>
                                <a href="product-details-thumbnail.html"
                                  >Thumbnail</a
                                >
                              </li>
                              <li>
                                <a href="product-details-video.html">Video</a>
                              </li>
                              <li>
                                <a href="product-details-affiliate.html"
                                  >Affiliate</a
                                >
                              </li>
                              <li>
                                <a href="product-details-sidebar.html"
                                  >Sidebar</a
                                >
                              </li>
                            </ul>
                          </li>
                          <li class="menu-item-has-children">
                            <a href="#">Shop Pages </a>
                            <ul class="dropdown">
                              <li><a href="my-account.html">My Account</a></li>
                              <li><a href="checkout.html">Check Out</a></li>
                              <li><a href="cart.html">Shopping Cart</a></li>
                              <li><a href="wishlist.html">Wishlist</a></li>
                              <li>
                                <a href="order-tracking.html">Order Tracking</a>
                              </li>
                              <li><a href="compare.html">Compare</a></li>
                              <li>
                                <a href="login-register.html"
                                  >login / register</a
                                >
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="shop-collection-1.html">Collection</a>
                        <ul class="dropdown">
                          <li>
                            <a href="shop-collection-1.html"
                              >Shop Collection 01</a
                            >
                          </li>
                          <li>
                            <a href="shop-collection-2.html"
                              >Shop Collection 02</a
                            >
                          </li>
                          <li>
                            <a href="shop-metro.html">Shop Metro Layout</a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="blog.html">Blog</a>
                        <ul class="dropdown">
                          <li><a href="blog.html">Blog Style 01</a></li>
                          <li><a href="blog-2.html">Blog Style 02</a></li>
                          <li><a href="blog-3.html">Blog Style 03</a></li>
                          <li>
                            <a href="blog-details.html">Single Post Style 01</a>
                          </li>
                          <li>
                            <a href="blog-details-2.html"
                              >Single Post Style 02</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li><a href="shop-instagram.html">Instagram Shop </a></li>
                    </ul>
                  </nav>
                  <!-- mobile menu navigation end -->
                </div>
                <!-- mobile menu end -->
              </div>
              <div class="mobile-curr-lang-wrap">
                <div class="single-mobile-curr-lang">
                  <a class="mobile-language-active" href="#"
                    >Language <i class="fa fa-angle-down"></i
                  ></a>
                  <div class="lang-curr-dropdown lang-dropdown-active">
                    <ul>
                      <li><a href="#">English (US)</a></li>
                      <li><a href="#">English (UK)</a></li>
                      <li><a href="#">Spanish</a></li>
                    </ul>
                  </div>
                </div>
                <div class="single-mobile-curr-lang">
                  <a class="mobile-currency-active" href="#"
                    >Currency <i class="fa fa-angle-down"></i
                  ></a>
                  <div class="lang-curr-dropdown curr-dropdown-active">
                    <ul>
                      <li><a href="#">USD</a></li>
                      <li><a href="#">EUR</a></li>
                      <li><a href="#">Real</a></li>
                      <li><a href="#">BDT</a></li>
                    </ul>
                  </div>
                </div>
                <div class="single-mobile-curr-lang">
                  <a class="mobile-account-active" href="#"
                    >My Account <i class="fa fa-angle-down"></i
                  ></a>
                  <div class="lang-curr-dropdown account-dropdown-active">
                    <ul>
                      <li><a href="#">Login</a></li>
                      <li><a href="#">Creat Account</a></li>
                      <li><a href="my-account.html">My Account</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-aside-menu">
              <nav>
                <ul>
                  <li><a href="#">About Toro</a></li>
                  <li><a href="#">Help Center</a></li>
                  <li><a href="#">Collection</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">New Look</a></li>
                </ul>
              </nav>
            </div>
            <img src="assets/images/icon-img/payments.png" alt="payment" />
            <p>
              Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu
              nisi aliquet, sit amet fermentum justo dapibus.
            </p>
            <div class="aside-contact-info">
              <ul>
                <li>
                  <i class="dlicon ui-2_time-clock"></i>Monday - Friday: 9:00 -
                  19:00
                </li>
                <li>
                  <i class="dlicon ui-1_email-84"></i>Info@la-studioweb.com
                </li>
                <li><i class="dlicon tech-2_rotate"></i>(+55) 254. 254. 254</li>
                <li>
                  <i class="dlicon ui-1_home-minimal"></i>Helios Tower 75 Tam
                  Trinh Hoang - Ha Noi - Viet Nam
                </li>
              </ul>
            </div>
            <div class="social-icon-style mb-25">
              <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
              <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
              <a class="google-plus" href="#"
                ><i class="fa fa-google-plus"></i
              ></a>
              <a class="behance" href="#"><i class="fa fa-behance"></i></a>
            </div>
            <div class="copyright">
              <p>
                © 2021 <a href="https://hasthemes.com/">Toro.</a> All rights
                reserved
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-1">
        <div class="container-fluid">
          <div class="breadcrumb-content text-center">
            <div class="breadcrumb-title">
              <h2>My Account</h2>
            </div>
            <ul>
              <li>
                <a href="account">Home 01 </a>
              </li>
              <li><span> &gt; </span></li>
              <li class="active">My Account</li>
            </ul>
          </div>
        </div>
        <div class="container">
          <div class="row" style="margin: 40px;">
            <% if (address && address.addressDetails.length > 0) { %>
              <% address.addressDetails.forEach(function(detail, index) { %>
                <!-- Start each card -->
                <div class="col-md-3" style="margin-bottom: 20px;">
                  <div class="card" style="padding: 20px; border: 1px solid #ddd; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); position: relative;">
                    <!-- Delete Link -->
                    <a href="/address/<%= detail._id %>/delete" class="btn btn-danger btn-sm" style="position: absolute; top: 10px; right: 10px; color: red; background-color: #ffffff;border-color: #ffffff; text-decoration: none; font-weight: bold;">
                      <i class="fa fa-times"></i> <!-- Font Awesome cross icon -->
                    </a>
                    <div class="card-body">
                      <h5 class="card-title" style="font-weight: bold;"><%= detail.fullName %></h5>
                      <p class="card-text" style="margin-bottom: 10px;">
                        <%= detail.city %>, <%= detail.state %><br>
                        <%= detail.country %>, <%= detail.postalCode %>
                      </p>
                      <p class="card-text" style="margin-bottom: 10px;">
                        Email: <%= detail.email %>
                      </p>
                      <p class="card-text" style="margin-bottom: 20px;">
                        Mobile: <%= detail.number %>
                      </p>
                      <button style="background-color: #fc4f4f; border-color: #fc4f4f; color : white; width:163px" class="edit-address-btn" data-fullname="<%= detail.fullName %>" data-city="<%= detail.city %>" data-state="<%= detail.state %>" data-postalcode="<%= detail.postalCode %>" data-country="<%= detail.country %>" data-number="<%= detail.number %>" data-email="<%= detail.email %>" data-bs-toggle="modal" data-bs-target="#editAddressModal">Edit</button>
                    </div>
                  </div>
                </div>
                <!-- Every 4th card, clear the row -->
                <% if ((index + 1) % 4 === 0) { %>
                  <div class="w-100"></div>
                <% } %>
              <% }) %>
            <% } else { %>
              <p>No addresses available.</p>
            <% } %>
        
            <!-- Add Address Button (positioned after the last card) -->
            <div class="col-md-3" style="margin-bottom: 20px;">
              <div class="card text-center" style="padding: 20px; border: 1px solid #ddd; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#addAddressModal"
                  style="font-size: 40px; padding: 10px; border-width: 2px; width: 100%; border-color: #fc4f4f; color: #fc4f4f; background-color: transparent;">
                  <i class="fa fa-plus"></i>
                </a>
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: normal;">Add New Address</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
        

                  <!-- TO ADD ADDRESS  -->

                    
          <div class="modal fade" style="border-color: black;" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addAddressModalLabel">Add New Address</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="addressForm" action="/userAddress" method="post">
                  <div class="modal-body">
                      <div class="mb-3" style="
                      width: 1000px;
                      margin-left: 68px;
                      margin-top: 22px;">
                          <div id="error-message" style="color: red; margin-bottom: 15px;"></div> 
              
                          <label for="fullName" class="form-label">Full Name</label>
                          <input type="text" class="form-control" id="fullName" name="fullName">
                      </div>
              
                      <div class="mb-3" style="
                      width: 1000px;
                      margin-left: 68px;
                      margin-top: 22px;">
                          <label for="city" class="form-label">City</label>
                          <input type="text" class="form-control" id="city" name="city">
                      </div>
              
                      <div class="mb-3" style="
                      width: 1000px;
                      margin-left: 68px;
                      margin-top: 22px;">
                          <label for="state" class="form-label">State/Province/Region</label>
                          <input type="text" class="form-control" id="state" name="state">
                      </div>
              
                      <div class="mb-3" style="
                      width: 1000px;
                      margin-left: 68px;
                      margin-top: 22px;">
                          <label for="postalCode" class="form-label">Postal Code</label>
                          <input type="text" class="form-control" id="postalCode" name="postalCode">
                      </div>
              
                      <div class="mb-3" style="
                      width: 1000px;
                      margin-left: 68px;
                      margin-top: 22px;">
                          <label for="country" class="form-label">Country</label>
                          <input type="text" class="form-control" id="country" name="country">
                      </div>
              
                      <div class="mb-3" style="
                      width: 1000px;
                      margin-left: 68px;
                      margin-top: 22px;">
                          <label for="mobileNumber" class="form-label">Mobile Number</label>
                          <input type="text" class="form-control" id="mobileNumber" name="number">
                      </div>
              
                      <div class="mb-3" style="
                      width: 1000px;
                      margin-left: 68px;
                      margin-top: 22px;">
                          <label for="email" class="form-label">Email Address (optional)</label>
                          <input type="email" class="form-control" id="email" name="email">
                      </div>
              
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" style="background-color: #fc4f4f; border-color: #fc4f4f;">Save Address</button>
                      </div>
                  </div>
              </form>
              

                
              </div>
            </div>
          </div>

          <div class="modal fade" id="editAddressModal" tabindex="-1" aria-labelledby="editAddressModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ediAddressModalLabel">Update Address</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="editaddressForm" action="/userAddress" method="post">
                        <div class="modal-body">
                            <div class="mb-3" style="
    width: 1000px;
    margin-left: 68px;
    margin-top: 22px;">
                                <div id="error-message" style="color: red; margin-bottom: 15px;"></div>
                                <label for="fullName" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="editfullName" name="fullName">
                            </div>
                           
                            <div class="mb-3" style="
    width: 1000px;
    margin-left: 68px;
    margin-top: 22px;">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" id="editcity" name="city">
                            </div>
                            <div class="mb-3" style="
    width: 1000px;
    margin-left: 68px;
    margin-top: 22px;">
                                <label for="state" class="form-label">State/Province/Region</label>
                                <input type="text" class="form-control" id="editstate" name="state">
                            </div>
                            <div class="mb-3" style="
    width: 1000px;
    margin-left: 68px;
    margin-top: 22px;">
                                <label for="postalCode" class="form-label">Postal Code</label>
                                <input type="text" class="form-control" id="editpostalCode" name="postalCode">
                            </div>
                            <div class="mb-3" style="
    width: 1000px;
    margin-left: 68px;
    margin-top: 22px";>
                                <label for="country" class="form-label">Country</label>
                                <input type="text" class="form-control" id="editcountry" name="country">
                            </div>
                            <div class="mb-3" style="
    width: 1000px;
    margin-left: 68px;
    margin-top: 22px;"">
                                <label for="mobileNumber" class="form-label">Mobile Number</label>
                                <input type="text" class="form-control" id="editmobileNumber" name="number">
                            </div>
                            <div class="mb-3" style="
    width: 1000px;
    margin-left: 68px;
    margin-top: 22px;">
                                <label for="email" class="form-label">Email Address (optional)</label>
                                <input type="email" class="form-control" id="editemail" name="email">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" style="background-color: #fc4f4f; height: 40px; border-radius: 10px; border-color: #fc4f4f; color: #ddd;">Update Address</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
                            <!-- TO EDIT ADDRESS  -->

                    
                            



          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
          <% if (messages.success) { %>
            <script>
              Swal.fire({
                icon: 'success',
                title: 'Success',
                text: '<%= messages.success %>'
              });
            </script>
            <% } %>

            <% if (messages.success) { %>
              <script>
                Swal.fire({
                  icon: 'success',
                  title: 'Success',
                  text: '<%= messages.addressSuccess %>'
                });
              </script>
              <% } %>
            
            
            <% if (messages.error) { %>
            <script>
              Swal.fire({
                icon: 'error',
                title: 'Error',
                text: '<%= messages.error %>'
              });
            </script>
            <% } %>
          <script>
    document.getElementById('addressForm').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevent form default submission

        const errorMessageDiv = document.getElementById('error-message');
        errorMessageDiv.textContent = '';  // Clear previous errors

        // Get form values and trim whitespace
        const fullName = document.getElementById('fullName').value.trim();
        const city = document.getElementById('city').value.trim();
        const state = document.getElementById('state').value.trim();
        const postalCode = document.getElementById('postalCode').value.trim();
        const country = document.getElementById('country').value.trim();
        const mobileNumber = document.getElementById('mobileNumber').value.trim();
        const email = document.getElementById('email').value.trim();

        // Check if any of the required fields are empty
        if (!fullName || !city || !state || !postalCode || !country || !mobileNumber) {
            errorMessageDiv.textContent = 'Please fill in all required fields.';
            return;  // Stop form submission
        }

        // Validate postal code to be numeric
        const postalCodePattern = /^[0-9]+$/;
        if (!postalCodePattern.test(postalCode)) {
            errorMessageDiv.textContent = 'Postal Code must contain only numbers.';
            return;  // Stop form submission
        }

        // Validate mobile number length
        if (mobileNumber.length !== 10) {
            errorMessageDiv.textContent = 'Please enter a valid 10-digit mobile number.';
            return;  // Stop form submission
        }

        // If all validation passes, submit the form
        this.submit();
    });
</script>

<script>
            document.querySelectorAll('.edit-address-btn').forEach(button => {
    button.addEventListener('click', function() {
        // Get the data attributes
        const fullName = this.getAttribute('data-fullname');
        // const address = this.getAttribute('data-address');
        const city = this.getAttribute('data-city');
        const state = this.getAttribute('data-state');
        const postalCode = this.getAttribute('data-postalcode');
        const country = this.getAttribute('data-country');
        const mobileNumber = this.getAttribute('data-number');
        const email = this.getAttribute('data-email');

        // Populate the modal fields
        document.getElementById('editfullName').value = fullName;
        // document.getElementById('editaddressLine1').value = address;
        document.getElementById('editcity').value = city;
        document.getElementById('editstate').value = state;
        document.getElementById('editpostalCode').value = postalCode;
        document.getElementById('editcountry').value = country;
        document.getElementById('editmobileNumber').value = mobileNumber;
        document.getElementById('editemail').value = email;
    });
});
        </script>
   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <!-- jquery -->
    <script src="assets/js/vendor/jquery-v3.6.0.min.js"></script>
    <!-- Popper JS -->
    <script src="assets/js/vendor/popper.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/plugins/owl-carousel.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jarallax.min.js"></script>
    <script src="assets/js/plugins/countdown.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/instafeed.js"></script>
    <script src="assets/js/plugins/tilt.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrolloverflow-fullpage.js"></script>
    <script src="assets/js/plugins/fullpage.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="assets/js/plugins/easyzoom.js"></script>
    <script src="assets/js/plugins/resizesensor.js"></script>
    <script src="assets/js/plugins/sticky-sidebar.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/cookie.js"></script>
    <script src="assets/js/plugins/bpopup.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
  </body>

  <!-- Mirrored from template.hasthemes.com/toro/toro/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:20:00 GMT -->
</html>
