<%- include('header.ejs') %>
</div>
      <div class="notification-section bg-theme-color section-padding-1" style="background-color: #ecad89 !important;">
        <div class="container-fluid">
          <div class="notification-wrapper">
            <div class="notification-content ml-285">
              <h3>Sale Weekend Off 30-50% All Items</h3>
              <div class="notification-btn">
                <a href="/product">Shop now</a>
              </div>
            </div>
            <div class="notification-close">
              <button>×</button>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-area">
        <div class="container-fluid p-0">
          <div
            class="main-slider-active owl-carousel slider-dot-position-2 slider-dot-style-1 slider-img-width-hm3"
          >
            <div
              class="single-main-slider slider-animated-1 bg-img slider-height-hm3 align-items-center custom-d-flex res-white-overly-xs"
              data-dot="01"
              style="
                background-image: url(/assets/images/slider/slider-hm3-1.jpg);
              "
            >
              <div class="row g-0 width-100-percent">
                <div class="col-lg-6 col-md-8">
                  <div
                    class="main-slider-content-3-1 text-center slider-hm3-content-3-1"
                  >
                    <span class="animated">NEW COLLECTIONS 2025</span>
                    <h1 class="animated">
                      DREAMY-OUTFIT'S FOR <br />INFANTS 
                    </h1>
                    <h5 class="animated" style="color :#870b0b">₹89.99</h5>
                    <div class="slider-btn-2">
                      <a class="animated" href="/product"
                        >SHOP NOW
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="single-main-slider slider-animated-1 bg-img slider-height-hm3 align-items-center custom-d-flex"
              data-dot="02"
              style="
                background-image: url(/assets/images/slider/slider-hm3-2.jpg);
              "
            >
              <div class="row g-0 width-100-percent">
                <div class="col-lg-12 col-md-12">
                  <div class="main-slider-content-3-2 text-center">
                    <img
                      class="animated"
                      src="/assets/images/slider/slider-hm3-4.png"
                      alt=""
                    />
                    <div class="slider-btn-2 slider-btn-2-white">
                      <a class="animated"href="/product"
                        >SHOP NOW
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
       
            
            </div>
          </div>
        </div>
      </div>
      <div class="product-area pt-130  section-padding-3">
        <div class="container-fluid">
          <div class="section-title-2 mb-45 text-center">
            <h2>New arrival</h2>
          </div>
          
          <div class="tab-content jump padding-60-row-col">
            <div id="product-1" class="tab-pane active">
              <div id="product-list" class="row">
                <!-- Section for New Arrivals -->
                <div class="section-title text-center mb-50">
                 
                </div>
                <% if (newArrivals.length > 0) { %>
                  <% newArrivals.forEach((product) => { %>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 product-card">
                      <div class="product-wrap mb-50" style="width: 333px;">
                        <div class="product-img default-overlay mb-25">
                          <a href="/product-details/<%= product._id %>">
                            <img
                              class="default-img"
                              src="/uploads/<%= product.image_url && product.image_url[0] ? product.image_url[0] : '//assets/images/default-product.jpg' %>"
                              alt="<%= product.product_title %>"
                            />
                            <img
                              class="hover-img"
                              src="/uploads/<%= product.image_url && product.image_url[1] ? product.image_url[1] : '//assets/images/default-product-hover.jpg' %>"
                              alt="<%= product.product_title %>"
                            />
                          </a>
                        </div>
                        <div class="product-content-2 text-center">
                          <h3>
                            <a href="/product-details/<%= product._id %>"><%= product.product_title %></a>
                          </h3>
                          <div class="product-price">
                            <% if (product.discountedPrice) { %>
                              <% console.log("ghjkhy");
                               %>
                              <span class="original-price" style="text-decoration: line-through; color: grey;">
                                ₹<%= product.price.toFixed(2) %>
                              </span>
                              <span class="new-price" style="color: green; font-weight: bold;">
                                ₹<%= product.discountedPrice.toFixed(2) %>
                              </span>
                            <% } else { %>
                              <span class="new-price">₹<%= product.price.toFixed(2) %></span>
                            <% } %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% }); %>
                <% } else { %>
                  <p>No new arrivals at the moment.</p>
                <% } %>
              
             
              
           






          
          
            
          </div>
        </div>
      </div>
      <br><br><br>
      <div class="banner-area">
        <div class="banner-top banner-wrap">
          <div
            class="jarallax parallax-img parallax-ptb-1"
            style="background-image: url(/assets/images/bg/bg-2.jpg)"
          >
          <div class="row g-0">
            <div class="col-12">
              <div class="banner-content-1 text-center">
                <span style="color: #90450d;">#Adorable Styles for Kids 2023</span>
                <h2 style="color:#6b3b19">London Show</h2>
                <div class="btn-style-1 text-center">
                  <a href="productList">
                    <div
                      class="btn-viewmore-normal btn-ptb-2 btn-viewmore-bg-black btn-viewmore-common btn-font-2" style="background-color:#cea07e ; border-color: #000000;  border-width: 2px;">
                      <span style="color: #000000;">Explore Now</span>
                    </div>
                    <div
                      class="btn-viewmore-hover btn-ptb-2 btn-viewmore-common btn-font-2" style="background-color: rgb(0, 0, 0); border-color: #000000;  border-width: 2px; ">
                      <span  style="color: #cea07e;">Explore Now</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="banner-bottom">
          <div class="row g-0">
            <div class="col-lg-6 col-md-6">
              <div
                class="banner-wrap default-overlay banner-zoom res-white-overly-xs"
              >
                <div class="banner-img">
                  <a href="productList"
                    ><img src="/assets/images/banner/banner-2.jpg" alt="banner"
                  /></a>
                </div>
                <style>
                  /* Default styles for larger screens */
                  .banner-content-2 {
                    width: 233px;
                    display: inline-block;
                    text-align: right 80px; /* Align text to the right by default */
                    margin: 0 auto;
                    right: 70px;
                  }
                
                  /* Responsive styles for smaller screens */
                  @media screen and (max-width: 768px) {
                    .banner-content-2 {
                      text-align: center; /* Center the text on smaller screens */
                    }
                  }
                </style>
                
                <div 
                  class="banner-content-2 banner-position-1" style="right: 70px !important;"
                >
                  <span style="color: gray;">#Jumpsuit</span>
                  <h3><a href="#" style="color: gray;">Checked Knit Jumpsuit</a></h3>
                  <div class="btn-style-1">
                    <a href="/product">
                      <div
                        class="btn-viewmore-normal btn-ptb-2 btn-viewmore-bg-black btn-viewmore-common btn-font-2"
                        style="background-color: #e1dac9; border-color: #000000; border-width: 2px;"
                      >
                        <span style="color: #000000; color: gray;">SHOP NOW</span>
                      </div>
                      <div
                        class="btn-viewmore-hover btn-ptb-2 btn-viewmore-common btn-font-2"
                        style="background-color: #cdcac4; border-color: #e1dac9; border-width: 2px;"
                      >
                        <span style="color: white;">SHOP NOW</span>
                      </div>
                    </a>
                  </div>
                </div>
                
             </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div
                class="banner-wrap default-overlay banner-zoom res-white-overly-xs"
              >
                <div class="banner-img">
                  <a href="productList"
                    ><img src="/assets/images/banner/banner-3.jpg" alt="banner"
                  /></a>
                </div>
                <div class="banner-content-2 banner-position-1" style="right: 290px !important; width: 307px  !important;">
                  <span style="color: #8f7e6d">#Shoes</span>
                  <h3><a style="color: #8f7e6d" href="#">Suede panels leather sneakers</a></h3>
                  <div class="btn-style-1">
                    <a href="/product">
                      <div
                        class="btn-viewmore-normal btn-ptb-2 btn-viewmore-bg-black btn-viewmore-common btn-font-2" style="background-color: #d8b394; border-color: #000000;  border-width: 2px;"
                      >
                        <span style="color: #8f7e6d;">SHOP NOW</span>
                      </div>
                      <div
                        class="btn-viewmore-hover btn-ptb-2 btn-viewmore-common btn-font-2" style="background-color: #d6aa7d; border-color: #dac8cd;  border-width: 2px;"
                      >
                        <span style="color: white;">SHOP NOW</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="delay-area pt-130">
        <div class="container">
          <div class="section-title-2 mb-70 text-center">
            <h2>Deal of day</h2>
          </div>
        </div>
        <div
          class="jarallax parallax-img parallax-ptb-2 res-white-overly-md res-white-overly-xs"
          style="background-image: url(/assets/images/bg/bg-3.jpg)"
        >
          <div class="row g-0">
            <div class="col-xl-6 col-lg-5 ms-auto">
              <div class="delay-content-2 text-center">
                <span style="background-color: #c18870 !important; ">Flash Sale This Week</span>
                <h3>Luxury Littles Cradle</h3>
                <h2>Off 30%</h2>
                <div class="delay-price">
                  <span class="old-price">₹99.99</span>
                  <span class="new-price" style="color: #bc0000 !important;">₹39.99</span>
                </div>
                <div class="btn-style-1 text-center">
                  <a href="/product">
                    <div
                      class="btn-viewmore-normal btn-ptb-2 btn-viewmore-bg-black btn-viewmore-common btn-font-2"
                    >
                      <span>SHOP NOW</span>
                    </div>
                    <div
                      class="btn-viewmore-hover btn-ptb-2 btn-viewmore-common btn-font-2" style="background-color: #8f6451 !important;"
                    >
                      <span>SHOP NOW</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="subscribe-area pt-125 pb-130">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 ms-auto me-auto">
              <div class="section-title-2 mb-60 text-center">
                <h2>JOIN OUR NEWSLETTER</h2>
                <p>Sale up to 20% off for your next purchase in this month!</p>
              </div>
              <div
                id="mc_embed_signup"
                class="subscribe-form subscribe-form-dec subscribe-mrg"
              >
                <form
                  id="mc-embedded-subscribe-form"
                  class="validate subscribe-form-style"
                  novalidate=""
                  target="_blank"
                  name="mc-embedded-subscribe-form"
                  method="post"
                  action="https://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef"
                >
                  <div id="mc_embed_signup_scroll" class="mc-form">
                    <input
                      class="email"
                      type="email"
                      required=""
                      placeholder="Your email address…"
                      name="EMAIL"
                      value=""
                    />
                    <div class="mc-news" aria-hidden="true">
                      <input
                        type="text"
                        value=""
                        tabindex="-1"
                        name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef"
                      />
                    </div>
                    <div class="clear">
                      <input
                        id="mc-embedded-subscribe"
                        class="button"
                        type="submit"
                        name="subscribe"
                        value="Subscribe"
                      />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="footer-container">
        <%- include('footer') %>
      </div>

      <!-- <div class="support-lists">
        <ul>
          <li>
            <a href="#"><i class="dlicon ui-3_chat-46"></i></a>
          </li>
          <li>
            <a href="#"><i class="dlicon ui-3_phone"></i></a>
          </li>
          <li>
            <a href="#"><i class="dlicon ui-1_email-85"></i></a>
          </li>
        </ul>
      </div> -->
      
    </div>

    <!-- All JS is here
============================================ -->

    <!-- Modernizer JS -->
    <script src="/assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script>
      function filterByCategory(categoryId) {
        const allProducts = document.querySelectorAll(".product-card");
    
        allProducts.forEach((product) => {
          const productCategory = product.getAttribute("data-category");
          if (categoryId === "all" || productCategory === categoryId) {
            product.style.display = "block"; // Show product
          } else {
            product.style.display = "none"; // Hide product
          }
        });
      }
    
      document.addEventListener("DOMContentLoaded", () => {
        filterByCategory("all");
      });
    </script>

    
    <!-- jquery -->
    <!-- <script src="/assets/js/vendor/jquery-v3.6.0.min.js"></script> -->
    <!-- Popper JS -->
    <!-- <script src="/assets/js/vendor/popper.js"></script> -->
    <!-- Bootstrap JS -->
    <!-- <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/owl-carousel.js"></script>
    <script src="/assets/js/plugins/slick.js"></script>
    <script src="/assets/js/plugins/jarallax.min.js"></script>
    <script src="/assets/js/plugins/countdown.js"></script>
    <script src="/assets/js/plugins/magnific-popup.js"></script>
    <script src="/assets/js/plugins/instafeed.js"></script>
    <script src="/assets/js/plugins/tilt.js"></script>
    <script src="/assets/js/plugins/images-loaded.js"></script>
    <script src="/assets/js/plugins/isotope.js"></script>
    <script src="/assets/js/plugins/scrolloverflow-fullpage.js"></script>
    <script src="/assets/js/plugins/fullpage.js"></script>
    <script src="/assets/js/plugins/jquery-ui.js"></script>
    <script src="/assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="/assets/js/plugins/easyzoom.js"></script>
    <script src="/assets/js/plugins/resizesensor.js"></script>
    <script src="/assets/js/plugins/sticky-sidebar.js"></script>
    <script src="/assets/js/plugins/scrollup.js"></script>
    <script src="/assets/js/plugins/select2.min.js"></script>
    <script src="/assets/js/plugins/cookie.js"></script>
    <script src="/assets/js/plugins/bpopup.js"></script>
    <script src="/assets/js/plugins/wow.js"></script>
    <script src="/assets/js/plugins/ajax-mail.js"></script> -->
    <!-- Main JS -->
    <!-- <script src="/assets/js/main.js"> -->

    </script>
  </body>

  <!-- Mirrored from template.hasthemes.com/toro/toro/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:17:24 GMT -->
</html>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function confirmLogout() {
    Swal.fire({
      title: 'Are you sure?',
      text: "You will be logged out!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, logout!',
      cancelButtonText: 'Cancel',
      confirmButtonColor: 'black',  // Green button for confirmation
  cancelButtonColor: 'black',   // Red button for cancellation
  background: '#f8f9fa',  // Light background
  iconColor: '#dc3545',
    }).then((result) => {
      if (result.isConfirmed) {
        // Redirect to logout page
        window.location.href = '/logout';
      }
    });
  }
</script>


